.ChangePW-form {
    /* padding-top: 100px; */
    max-width: 400px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px auto 10px auto;
    padding: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}

label {
  display: block;
  text-align: center;
}

input {
  margin: 10px;
  padding: 5px;
  border: none;
  display: inline-block;
}

form {
  text-align: center;
}

#change-pw-button {
    background: #243b55;
    color: #e4bcc1;
    font-size: 16px;
    margin: 20px 10px 15px;
    /* width: 15%; */
}
