
.button-div {
  display: flex;
  justify-content: center;
}

#upload-button {
  background: #e4bcc1;
  color: #843640;
  font-size: 16px;
  margin: 20px 10px 15px;
  width: 15%;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.responsive {
  display: inline-block;
  margin: 10px;
}
