.App {
  margin-top: 15px;
}

.links {
  text-decoration: none;
  padding: 10px;
  background: #e4bcc1;
  color: whitesmoke;
  margin: 5px;
}

.links:hover {
  background: #a84551;
}

.nav {
  float: right;
}

.background {
  background: linear-gradient(45deg, #722F37 30%, #243b55 90%)
}
