.App {
  margin-top: 15px;
}

.links {
  text-decoration: none;
  padding: 10px;
  background: #e4bcc1;
  color: whitesmoke;
  margin: 5px;
}

.links:hover {
  background: #a84551;
}

.nav {
  float: right;
}

#gallery {
  position: fixed;
  top: 10px;
  z-index: 1000;
  left: 90vw;
}

.background {
  background: linear-gradient(45deg, #722F37 30%, #243b55 90%);
  z-index: 999;
}

@media only screen and (max-width: 375px) {
  #gallery {
    left: 75vw;
  }
}
